<ion-view title="Perfil">

<ion-content>

<form ng-submit="salvar(usuario)" class="padding">
        <!--ng-submit utiliza os ng-models como dados pela action submit do form-->
            <ion-list>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Nome</span>
                    <input ng-model="usuario.details.name" type="text" placeholder="Nome"/>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input ng-model="usuario.details.email" type="text" placeholder="Email"/>
                </label>   
                <button type="submit" class="button button-balanced button-block">Salvar</button>

            </ion-list>
           
        </form>

</ion-content>

</ion-view>