<ion-view title="Usuarios">

    <ion-nav-buttons side="right">   
        <!--<button class="button button-clear">Add</button>-->
        <button ng-click="showCreate()" class="button button-clear icon ion-android-person-add"></button>
    </ion-nav-buttons>

    <ion-content>
        <ion-list>

          <ion-item ng-repeat="u in usuarios track by u.id">
            <h2>{{u.name}}</h2>
            <p>{{u.email}}</p>
            <ion-option-button class="button-assertive" ng-click="delete(u.id)">
              <i class="icon ion-trash-a"></i>    
              Apagar 
            </ion-option-button>
            <ion-option-button class="button-positive" ng-click="update(u.id)">
              <i class="icon ion-edit"></i>    
              Editar   
            </ion-option-button>
          </ion-item>
          
        </ion-list>
    </ion-content>
</ion-view>